*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
.food-section{
    display: flex;
    margin-bottom: 100px;
}

.food-section{
    display: flex;
    margin-bottom: 100px;
}
.div-section{
    width: 50%;
}
.div-section h1{
    font-size: 50px;
    margin-top: 150px;
    margin-left: 100px;
}
.heading-color{
    color: orangered;
}
.div-section p{
    margin-left: 100px;
    font-weight: bold;
    margin-top: 20px;
    color: gray;
}
.div-section a{
    display:table;
    text-decoration: none;
    margin-left: 100px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right,red, rgb(240, 100, 18) );
    padding:20px 40px;
    margin-top: 35px;
    border-radius:35px;
}
.model2{
    width: 80%;
    margin-left: 50px;
}
.background{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#model2-about{
    font-size: 30px;
}
#model2-about-summery{
    font-weight: normal;
    padding-right: 200px;
}
.recipe-section{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.recipe-about{
    height: 100px;
    text-align: center;
}
.recipe-about p{
    margin-top: 20px;
}
.recipe-about h1{
    font-size: 30px;
}
.recipe{
    width: 25%;
    background-color: white;
    margin: 20px;
    border-radius: 5%;
    height: 450px;
    box-shadow: 0px 0px 34px -17px grey;
}
.recipe img{
    width: 90%;
    height: 220px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 5%;
}
.recipe h1{
    margin: 20px 10px;
}
.recipe p{
    margin: 10px 10px;
}
.countdown{
    height: 180px;
    margin: 111px;
    border-radius: 20px;
    box-shadow:  0px 0px 34px -17px grey;
    display: flex;
    justify-content: center;
}
.countdown-part{
    margin: 50px;
}
.countdown-part h1{
    font-size: 50px;
}
.link-section{
    display: flex;
    justify-content: center;
    background-color: orange;
}
.links{
    width: 20%;
}
.links h1{
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 70px;
    font-size-adjust: unset;
    color: rgb(151, 19, 19);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
    height: 150px;
}
footer h1{
    margin: 20px;
}